body {
  background-color: #141C23;
  background-size: cover;
  font-family: sans-serif;
  font-weight:bolder;
  text-align: center;
  color: white;

}

.display {
  background-color: #668677;
  width: 315px;
  font-size: 20px;
  font-display: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  visibility:visible;
  padding-top: 30px;
  padding-bottom: 30px;
}

button
{
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 75px;
  border-radius: 5px;
  margin: 2px;
}



.main-btn
{
  color: white;
  background-color: #c9cbd1;

}

.operation-btn
{
  color: white;
  background-color: #465478;
}

.columns
{
  display: flex;
}

.grid
{
  display:grid;
}


#increment-btn {
  background-color:darkred;
}

#save-btn {
  color: white;
  background: darkgreen;
}

#history-el
{
  width: 20%;
}

button:hover
{
  background-color: darkorange;
}
